body{
    text-align: center;
    background-image: url("blueSky.jpg");
    background-position: left;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-top: 2%;
}

#container{
    width: 50%;
    margin: auto;
    padding: 2%;
    display: grid;
    column-gap: 5%;
    grid-template-columns: 50% 50%;
}

#temp{
    grid-column: 1/2;
    margin-left: 15%;
    background-color:rgb(188, 224, 248);
    border: solid white; 
    border-radius: 80px;
    box-shadow: 5px 5px white;
}

#description{
    grid-column: 2/3;
    margin-right: 15%;
    background-color:rgb(188, 224, 248);
    border: solid white; 
    border-radius: 80px;
    box-shadow: 5px 5px white;
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    margin-top: 0;
}

#icon{
    margin-top: 0;
}